import { View } from 'react-native';
import styled from 'styled-components/native';

const Title = styled.Text`
  font-size: 20px;
  font-weight: bold;
`;

const Subtitle = styled.Text`
  font-size: 15px;
`;

const Header = () => (
  <View>
    <Title>
      ReactJS Charlotte Meetup
    </Title>
    <Subtitle>
      An awesome meetup!
    </Subtitle>
  </View> 
);

export default Header;